@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@500&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@500&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');




.contact{

    font-family: sans-serif;

}


.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 68px;
    text-shadow: 4px 4px 4px #aaa;
}
.letramain{
    font-family: 'Tangerine', serif;
    font-size: 68px;
    text-shadow: 4px 4px 4px #aaa;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;

}
section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;

}

@media (max-width:575px)
{
    body{
        background-color:#A3D5E3;
    }
    .titulo{
        color: black;
    }
    .recetas:hover{
        color:#A3D5E3 ;
    }
    .foto1{
        flex-direction: column;
        display: none;
    }
    .header{
        color:#A3D5E3 ;
    }
    .enlaces{
        color: #A3D5E3;
    }
    .video{
        color: none;}
 }

    



@media (max-width:992px)
    
    {        .foton{
            display: none;
        }
        .fotonueva{
            display: none;
        }
        

}

.logo{
    width: 100px;
    height: 100px;
}



.redess{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.icon{
    width: 40px;
    height: 40px;
}

nav{
    justify-content: space-around;
    display: flex;
    align-items: center;

}
nav:hover{
    background-color: #9bd3ae;
}

.enlaces{
    font-family: 'Bebas Neue', cursive;
    
}
.inicio {
    width: 80px;
    height: 80px;
    margin: 80px;
color: black;}

a:hover {
color: black;
}

.containerr{
    margin: 5px;
    padding: 5px;
}



body{
    background-color: azure;
    background-image: url(./fondo1.jpg);
    background-attachment: fixed;
    text-align: center;
}



footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#9bd3ae;
    flex-wrap: wrap;
    
}

.mapa{
    width: 100px;
    height: 100px;
}
.redes2{
    display: flex;
  align-items: center;
  background-color:#9bd3ae;

}

.icon2{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.info{
    color: black;
    font-family: fantasy;
    font-size: 1rem;
  
}

.parrafos{
    font-family: 'Roboto Condensed', sans-serif;
}


.fotocontacto{
    width: 100vw;
    height: 50vh;
    
}

.fotonueva{
    width: 100px;
    height: 100px;
}

.tituloc
{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 60px;
text-shadow: 4px 4px 4px #aaa;
}
 
.conetenedor{
    display: flex;
    justify-content: center;
}
.carousel{
    width: 100%;
    
}
.foto{
    width: 80%;
    height: 80%;
}