header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ED9128;
    flex-wrap: wrap;

}

.logo{
    width: 90px;
}

.titulo{
    font-family: fantasy;
    font-size: xx-large;
}

.redess{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ED9128;
    flex-wrap: wrap;

}

.icon{
    width: 40px;
    height: 40px;
    margin: 10px;
}






nav{
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: #ED9128;

}

.enlaces{
    font-family: fantasy;
}


.recetas{
    width: 80px;
    height: 80px;
    margin: 80px;
    color: black;
}



body{
    background-color: azure;
    background-image: url(./fondonuevo.jpg);
    background-attachment: fixed;
    text-align: center;
}



section{
    justify-content: space-around;
    display: flex;
    align-items: center;

}
.foto1 {padding: 10px;margin: 10px; border: 2px solid black; width: 200px; height: 200px;}


main {background-color:#ED9128; }

aside{background-color: #ED9128;}





footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#ED9128;
    flex-wrap: wrap;
}

.mapa{
    width: 80px;
    height: 80px;
}
.redes2{
    display: flex;
  align-items: center;
  background-color:grey;

}

.icon2{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.info{
    color: black;
    font-family: fantasy;
  
}







.ingredientes {color:black;text-align: center;bottom: 20px;font-size:xx-large;font-family: fantasy;
background-color: #8F823AFF;}

