@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@500&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@500&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');




.contact{

    font-family: 'Oswald', sans-serif;

}

.titulo{
    font-family: 'Josefin Sans', sans-serif;
}
.pasos{
    background-color: #B9721E;
    font-family: 'Bebas Neue', cursive;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#ED9128;
    flex-wrap: wrap;
}

.logo{
    width: 90px;
    height: 90px;
}



.redess{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ED9128;
    flex-wrap: wrap;

}

.icon{
    width: 40px;
    height: 40px;
}

nav{
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: #ED9128;

}

.enlaces{
    font-family: 'Bebas Neue', cursive;
}
a:hover {
color: #ED9128;
}

.recetas{
    width: 80px;
    height: 80px;
    margin: 80px;
    color: black;
}



body{
    background-color: azure;
    background-image: url(./fondonuevo.jpg);
    background-attachment: fixed;
    text-align: center;
}



section{
    justify-content: space-around;
    display: flex;
    align-items: center;

}
.foto1 {padding: 10px;margin: 10px; border: 2px solid black; width: 200px; height: 200px;}


main {background-color:#ED9128; }

aside{background-color: #ED9128;}





footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#ED9128;
    flex-wrap: wrap;
}

.mapa{
    width: 80px;
    height: 80px;
}
.redes2{
    display: flex;
  align-items: center;
  background-color:grey;

}

.icon2{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.info{
    color: black;
    font-family: fantasy;
  
}

.parrafos{
    font-family: 'Roboto Condensed', sans-serif;
}


.ingredientes {color:black;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
background-color:#B9721E;}

.fotocontacto{
    width: 100vw;
    height: 50vh;
    
}


