body {background-image: url(https://media.istockphoto.com/vectors/hand-drawn-vector-background-with-cakes-cookies-and-other-sweets-vector-id892667714)}
.letraazul {color:#887f7f;}
#titulo {color:#93391E; font-size: xx-large;text-align: center;text-decoration: underline;}
.foto1 { padding: 10px; margin: 10px; border: 2px solid black; float: left; width: 220px;height: 220px; }
.foto2 {padding: 10px; margin: 10px; border: 2px solid black; float: left; width: 220px; height: 220px;}
.foto3 {padding: 10px; margin: 10px;border: 2px solid black;float: left ;width: 220px;height: 220px;}
.foto4 {padding: 10px; margin: 10px;border: 2px solid black;float: left ;width: 220px;height: 220px;}
.foto5 {padding: 10px; margin: 10px;border: 2px solid black;float: left ;width: 220px;height: 220px;}
.colorletra {color: #93391E;font-size: xx-large;text-align: center;text-decoration: underline;}
.alfajor {padding: 10px; margin: 10px;border: 2px solid black; text-align: center ;width: 250px;height: 250px;}
.pasos {text-align: center; color:#93391E ;font-size: xx-large;}
.ingredientes {color: #93391E;text-align: center; font-size: xx-large;text-decoration: underline;}
.h4 {text-align: center;color: #773c0d;text-decoration: underline;}
.h3 {color: #c7760d;}